:root {
    --main-font-family: "Nunito Sans", "Arial", sans-serif;
    --main-text-color: #111517;
    --main-bg-color: #fafafa;
    --main-header-color:#fff;
    --main-font-size: 15px;
    --main-font-weight: 400;
    --main-line-height: 28px;
    --main-link-color: #ba4270;
  }